gensim
bs4
urllib3
colorama
wikipedia
requests
lxml
pdfminer
nltk
future
tweepy
pandas
mglearn==0.1.7
pyLDAvis
scikit-learn
facebook-sdk
pillow
matplotlib
wordcloud
feedparser
tkcalendar
Django
